[Desktop Entry]
Type=Application
Name=HyprMusic
GenericName=Music Player
Comment=Hyprland frontend for the Media Player Daemon (MPD)
Exec=hyprmusic %F
Icon=multimedia-audio-player
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
Keywords=music;player;mpd;audio;hyprland;
MimeType=audio/mpeg;audio/flac;audio/ogg;audio/wav;audio/mp4;audio/aac;audio/x-matroska;audio/x-flac;audio/x-vorbis+ogg;
